@import "estilos.css";

body {
    padding-bottom: 70px;
}
.fondo {
    background-color: var(--DARK-BACKCOLOR) !important;
    z-index: 2000 !important;
    position: fixed;
    top: 0;
    width: 100%;
}

.footer-icon:hover {
    opacity: 0.8;
}
.footer-custom {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}