<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajustes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        .fondo{
            background-color: #f7f7f7;
        }

        .cajas {
            background-color: #33484B40;
        }

        .btn-naranja{
            background-color: #f48201;
        }
        .espaciadoFlecha {
            display: inline-flex;
            margin-left: 100px;
            justify-content: center;
            align-items: center;
        }
        .titulos {
            font-family:"Calibri";
            font-size:42px;
            margin-left: 0px;
        }
        .collapse {
            width: 100%;
        }

    </style>
</head>
<body class="container-md fondo">
    <header class="bg-dark">
        <div class="container px-5 w-100">
            <h1 class="text-light">Cabecera de ejemplo</h1>
        </div>
    </header>
    <div class="container py-5 align-self-center">
        <div class="row mt-5">
            <div class="col-md-6">
                <div>
                    <img src="./imagenes/fotoAjustes.png" class="img-fluid w-70" alt="Imagen Ajustes">
                </div>
            </div>
            <div class="col-md-6 mt-5 pt-3">
                <div class="pt-2">
                    <button
                            type="button"
                            class="row border rounded cajas pt-2 btn col-12"
                            data-bs-toggle="collapse"
                            data-bs-target="#seccionVisible"
                            aria-expanded="false"
                            aria-controls="seccionVisibile">
                        <h2 class="titulos col-md-10 d-inline-flex">Visibilidad de Perfil</h2>
                        <div class="col  pt-1 d-inline-flex">
                            <svg class="espaciadoFlecha " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 0.65);transform:rotate(-90deg) ;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                        </div>

                    </button>
                    <div class="collapse cajas p-3 border rounded" id="seccionVisible">
                        <p>Gestiona el nivel de visibilidad que quieres que tenga tu cuenta </p>
                        <h3>
                            Perfil Privado
                        </h3>
                        <p>
                            Solo las personas a las que des permiso podrán ver tu perfil, pins, tableros, seguidores y lista de seguidos. Haz clic para
                            <a> aprender más </a>
                        </p>
                        <h3>
                            Privacidad de búsquedas
                        </h3>
                        <p>
                            Esconde tu perfil y tableros de los motores de búsqueda (ej:Google...). Haz clic para
                            <a> aprender más </a>
                        </p>
                    </div>
                </div>
                <div class="pt-2">
                    <button
                            type="button"
                            class="row border rounded cajas pt-2 btn col-12"
                            data-bs-toggle="collapse"
                            data-bs-target="#linkPixay"
                            aria-expanded="false"
                            aria-controls="linkPixay">
                        <h2 class="titulos col-md-10 d-inline-flex">Link a Pixay</h2>
                        <div class="col  pt-1 d-inline-flex">
                            <svg class="espaciadoFlecha " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 0.65);transform:rotate(-90deg) ;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                        </div>

                    </button>
                    <div class="collapse cajas p-3 border rounded" id="linkPixay">
                        <h3>
                            Une tus otras redes sociales
                        </h3>
                        <p>Conecta tu usuario de Pixay con tus otras redes sociales para crear pins de manera automática a través de todas tus redes</p>
                        <button class="btn-naranja border-0 rounded">Unir</button>
                    </div>
                </div>
                <div class="pt-2">
                    <button
                            type="button"
                            class="row border rounded cajas pt-2 btn col-12"
                            data-bs-toggle="collapse"
                            data-bs-target="#permisos"
                            aria-expanded="false"
                            aria-controls="permisos">
                        <h2 class="titulos col-md-10 d-inline-flex">Permisos y Actividad</h2>
                        <div class="col  pt-1 d-inline-flex">
                            <svg class="espaciadoFlecha " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 0.65);transform:rotate(-90deg) ;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                        </div>

                    </button>
                    <div class="collapse cajas p-3 border rounded" id="permisos">
                        <h3>
                            Permitir comentarios sobre tus pins
                        </h3>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24"
                             viewBox="0 0 24 24"
                             style="fill: rgba(244, 130, 1, 1);">
                            <path d="M16 6H8c-3.296 0-5.982 2.682-6 5.986v.042A6.01 6.01 0 0 0 8
                            18h8c3.309 0 6-2.691 6-6s-2.691-6-6-6zm0
                            9c-1.627 0-3-1.373-3-3s1.373-3 3-3 3 1.373 3 3-1.373 3-3 3z">
                            </path>
                        </svg>
                        <p>
                            Los comentarios estarán habilitados para tus próximas y pins actualmente creados
                        </p>
                        <h3>
                            Recibir mensajes de todos
                        </h3>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24"
                             viewBox="0 0 24 24"
                             style="fill: rgba(51, 72, 75, 0.44);">
                            <path d="M16 6H8c-3.296 0-5.982 2.682-6 5.986v.042A6.01 6.01 0 0 0 8
                            18h8a6.01 6.01 0 0 0 6-5.994v-.018C21.985 8.685 19.297 6 16 6zm-8 9c-1.627
                            0-3-1.373-3-3s1.373-3 3-3 3 1.373 3 3-1.373 3-3 3z">
                            </path>
                        </svg>
                        <p>
                            Decide quién te puede mandar un mensaje (tus amigos o todos tus seguidores)
                        </p>
                        <h3>
                            Mostrar productos similares
                        </h3>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24"
                             viewBox="0 0 24 24"
                             style="fill: rgba(244, 130, 1, 1);">
                            <path d="M16 6H8c-3.296 0-5.982 2.682-6 5.986v.042A6.01 6.01 0 0 0 8
                            18h8c3.309 0 6-2.691 6-6s-2.691-6-6-6zm0
                            9c-1.627 0-3-1.373-3-3s1.373-3 3-3 3 1.373 3 3-1.373 3-3 3z">

                            </path>
                        </svg>
                        <p>
                            Los demás usuarios podrán buscar productos similares a tus pines utilizando la busqueda visual
                        </p>
                        <h3>
                            Permitir Descargas
                        </h3>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24"
                             viewBox="0 0 24 24"
                             style="fill: rgba(51, 72, 75, 0.44);">
                            <path d="M16 6H8c-3.296 0-5.982 2.682-6 5.986v.042A6.01 6.01 0 0 0 8
                            18h8a6.01 6.01 0 0 0 6-5.994v-.018C21.985 8.685 19.297 6 16 6zm-8 9c-1.627
                            0-3-1.373-3-3s1.373-3 3-3 3 1.373 3 3-1.373 3-3 3z">
                            </path>
                        </svg>
                        <p>
                            Permitir la descarga de tus vídeo pins (9:16 ratio) y compartirlos en otras plataformas
                        </p>
                    </div>
                </div>
                <div class="pt-2">
                    <button
                            type="button"
                            class="row border rounded cajas pt-2 btn col-12"
                            data-bs-toggle="collapse"
                            data-bs-target="#informes"
                            aria-expanded="false"
                            aria-controls="informes">
                        <h2 class="titulos col-md-10 d-inline-flex">Informes & centro de Seguridad</h2>
                        <div class="col  pt-1 d-inline-flex">
                            <svg class="espaciadoFlecha " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 0.65);transform:rotate(-90deg) ;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                        </div>

                    </button>
                    <div class="collapse cajas p-3 border rounded" id="informes">
                        <p>Gestiona el nivel de visibilidad que quieres que tenga tu cuenta </p>
                        <h3>
                            Perfil Privado
                        </h3>
                        <p>
                            Solo las personas a las que des permiso podrán ver tu perfil, pins, tableros, seguidores y lista de seguidos. Haz clic para
                            <a> aprender más </a>
                        </p>
                        <h3>
                            Privacidad de búsquedas
                        </h3>
                        <p>
                            Esconde tu perfil y tableros de los motores de búsqueda (ej:Google...). Haz clic para
                            <a> aprender más </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>