<nav class="fondo-header row p-2 navbar navbar-expand-sm fixed-top" th:fragment="cabecera">
    <div class="col-2">
        <div class=" ps-2">
            <a th:href="@{/}">
                <img  class="logo" th:src="@{/imagenes/logo.png}" alt="logo">
            </a>
        </div>
    </div>
    <div class="col-8 d-flex justify-content-center mt-2 ">
        <div class="search-group d-flex w-100">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="Menu1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    [[${selectedCategoryName != null ? selectedCategoryName : 'Todas las categorías'}]]
                </button>
                <ul class="dropdown-menu" aria-labelledby="Menu1">
                    <li><a class="dropdown-item" th:href="@{/busqueda}">Todas las categorías</a></li>
                    <li th:each="cat : ${headerCategories}">
                        <a class="dropdown-item" th:href="@{/busqueda(categoryId=${cat.id})}" th:text="${cat.name}"></a>
                    </li>
                </ul>
            </div>
            <form class="d-flex flex-grow-1 bg-white align-items-center pr-2 br-search" th:action="@{/busqueda}" method="get">
                <input type="hidden" name="categoryId" th:value="${selectedCategoryId}">
                <input type="hidden" name="subcategoryId" th:value="${selectedSubcategoryId}">

                <input name="query" class="form-control search-input"
                       type="text" placeholder="Buscar..."
                       th:value="${query}">
                <button type="submit" class="search-icon-btn br-search">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center" th:if="${session.username != null}">
        <div class="notification-container">
            <i class="bi bi-bell-fill bell-icon"></i>
            <span class="notification-dot"></span>
        </div>
    </div>
    <div class="col-2">
        <div class="container-fluid d-flex justify-contetn-end align-items-center">
            <div class="dropdown" th:if="${session.username != null}">
                <a class="navbar-brand d-flex align-items-center gap-2 dropdown-toggle" th:href="@{/mi-perfil/mis-imagenes}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-white small" th:text="${session.username}">Usuario</span>
                    <img th:src="${session.avatar != null ? session.avatar : '/imagenes/sin-foto-perfil.png'}"
                         alt="Avatar Logo"
                         style="width:40px;height:40px;"
                         class="rounded-pill object-fit-cover">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" th:href="@{/mi-perfil/mis-imagenes}">Mis imágenes</a></li>
                    <li><a class="dropdown-item" th:href="@{/pantallas/ajustes/ajustes}">Mis ajustes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                </ul>
            </div>
            <div th:if="${session.username == null}">
                <a th:href="@{/login}" class="btn btn-outline-light rounded-pill px-4 btn-sm fw-bold">
                    <i class="bi bi-person-circle me-1"></i> Iniciar sesión
                </a>
            </div>
        </div>
    </div>
</nav>